{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_cms.template.document_categories_update_title' | trans( {},'VSCmsBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_cms.template.document_categories_create_title' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}

{% block content %}
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Document Category</h5>
                <div class="card-body">
                    <div id="pageCategoryFormContainer" data-pageId="{{ item.id }}">
                        {% include '@VSCms/Pages/Document_Categories/partial/category_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pages-categories-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/pages-categories-edit' ) }}
{% endblock %}
