{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if formErrors is defined %}
    {{ vs_form.errors( formErrors ) }}     
{% endif %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormQuickLink'}, 'method': method }) }}
    
    <label class="custom-control custom-checkbox">  
        <input type="checkbox" id="quick_link_form_enabled"
            class="custom-control-input form-check-input"
            name="quick_link_form[enabled]"
            value="{{ item.enabled }}"
            {% if item.enabled %}checked="checked"{% endif %}
        />
        <span class="custom-control-label">{{ 'vs_cms.form.page.published' | trans( {},'VSCmsBundle' ) }}</span>
    </label>
    
    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.linkText, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.linkText, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.linkPath, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.linkPath, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">&nbsp;</div>
    
    {{ vs_form.buttons( form, metadata ) }}
{{ form_end(form, {'render_rest': false}) }}