{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% block title %}{{ parent() }} :: Edit TOC Page{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {% if(item.id) %}Edit TOC Page:    {{ item.title }}{% else %}Create New TOC Page{% endif %}{% endblock %}

{% block content %} 
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<div class="card-body">
            	
            		{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'method': formMethod }) }}
                        
                        {% if formErrors is defined %}
                            {{ vs_form.errors( formErrors ) }}     
                        {% endif %}
                        
                        <div class="form-group">
                        	{{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        {% set comboDataSourceUrl  = path( 'vs_cms_multipage_toc_page_easyui_combotree', {'documentId': documentId} ) %}
                        {% set comboTreePlaceholder = 'vs_cms.form.toc_page.parent_page_placeholder' | trans( {},'VSCmsBundle' ) %}
                        <div class="form-group">
                            {{ form_label( form.parent, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget( form.parent, {'attr': {
                                'class': 'form-control',
                                'data-options': 'url: "' ~ comboDataSourceUrl ~ '", required: false, prompt: "' ~ comboTreePlaceholder ~ '"'
                            }}) }}
                        </div>
        
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label( form.description, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget( form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.text, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {# File Browser Route is Configured in artgris_file_manager.yaml #}
                            {{ form_widget(form.text, {
                                'attr': {'class': 'form-control'}
                            } ) }}
                        </div>
                        
                        {% do form.btnSave.setRendered() %}
                        {% do form.btnApply.setRendered(false) %}
                        {# Missing field in Vankosoft\CmsBundle\Form\TocPageForm
                            {% do form.btnCancel.setRendered() %}
                        #}
                        {#  
                    	{{ vs_form.buttons( form, metadata ) }}
                    	#}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
         
        </div>
    </div>
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/multipage-toc-update' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/multipage-toc-update' ) }}
{% endblock %}