{{ form_start(form, { 'action': path( 'vs_cms_filemanager_vankosoft_handle_upload_form' ), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'id': 'formUploadFile'} }) }}
    {{ form_widget(form._token) }}   

    <div class="custom-file mb-3">
        {{ form_label(form.file, null, {
            'label_attr': {'class': 'col-form-label'}
            
            }) 
        }}
        {{ form_label(form.file, null, {
            'label_attr': {'class': 'custom-file-label'}
            }) 
        }}
        {{ form_widget(form.file, {
            'attr': {
                'class': 'custom-file-input',
            }
        }) }}
        <span class="custom-file-control form-control-file"></span>
    </div>
    <div class="mb-3">&nbsp;</div>
{{ form_end(form, {'render_rest': false}) }}