<div id="application-delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                	{{ 'vs_application.modal.application_delete.title' | trans( {},'VSApplicationBundle' ) }}: <span id="deleteApplicationTitle"></span>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="applicationEdit" class="card alert shadow mb-2">
                    <div class="card-body">
                        <p>{{ 'vs_application.modal.application_delete.description_1' | trans( {},'VSApplicationBundle' ) }}</p>
                        <p>{{ 'vs_application.modal.application_delete.description_2' | trans( {},'VSApplicationBundle' ) }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="imContainer">
                <a class="btn btn-primary" id="btnDeleteApplication" href="javascript:void(0);">
                	{{ 'vs_application.modal.application_delete.button_delete' | trans( {},'VSApplicationBundle' ) }}
                </a>
                <a class="btn btn-secondary" data-bs-dismiss="modal">
					{{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
				</a>
            </div>
        </div>
    </div>
</div>

