{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if formErrors is defined %}
    {{ vs_form.errors( formErrors ) }}
{% endif %}

{{ form_start(form, { 'attr': {'id': 'form_toc_page'}} ) }}

    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {% set comboDataSourceUrl  = path( 'vs_cms_multipage_toc_page_easyui_combotree', {'documentId': documentId} ) %}
    {% set comboTreePlaceholder = 'vs_cms.form.toc_page.parent_page_placeholder' | trans( {},'VSCmsBundle' ) %}
    <div class="form-group">
        {{ form_label( form.parent, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {#
        {{ vs_tree.easyuiCombobox( form.parent, comboDataSourceUrl, item.parent ? item.parent.id : 0,
            {
                'elementSelector': '#toc_page_form_parent',
                'required': 'false',
                'multiple': 'false',
                'checkbox': 'false',
                'cascadeCheck': 'false',
                'placeholder': comboTreePlaceholder
            }
        ) }}
        #}
        {# Not Use Macros to Prevent Duplication #}
        {{ form_widget( form.parent, {'attr': {
            'class': 'form-control',
            'data-options': 'url: "' ~ comboDataSourceUrl ~ '", required: false, prompt: "' ~ comboTreePlaceholder ~ '"'
        }}) }}
    </div>

    <div class="form-group">
        {{ form_label( form.title, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget( form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label( form.description, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget( form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.text, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {# File Browser Route is Configured in artgris_file_manager.yaml #}
        {{ form_widget(form.text, {
            'attr': {'class': 'form-control'}
        } ) }}
    </div>
    
    {% do form.btnSave.setRendered() %}
    {% do form.btnApply.setRendered(false) %}
    {# Missing field in Vankosoft\CmsBundle\Form\TocPageForm
        {% do form.btnCancel.setRendered() %}
    #}
    
{{ form_end(form, {'render_rest': false}) }}

<script type="text/javascript" src="{{ asset( '/build/default/ckeditor/plugins/image/dialogs/image.js' ) }}"></script>

{{ encore_entry_link_tags( 'js/documents-edit' ) }}
{{ encore_entry_script_tags( 'js/documents-edit' ) }}

