{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.widgets_index_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ 'vs_application.template.widgets_index_title' | trans( {},'VSApplicationBundle' ) }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div>
                <div style="float: left; margin-left: 30px; margin-bottom: 20px;">
                    <a class="btn btn-rounded btn-primary"
                        href="{{ path( 'vs_application_widget_ext_refresh' ) }}"
                        title="{{ 'vs_application.template.reload_current_user_registered_widgets' | trans( {},'VSApplicationBundle' ) }}"
                    >
                        {{ 'vs_application.template.reload_current_user_registered_widgets' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </div>
                
                <div style="float: left; margin-left: 30px; margin-bottom: 20px;">
                    <a class="btn btn-rounded btn-primary"
                        href="{{ path( 'vs_application_widget_ext_refresh', {'all': 1} ) }}"
                        title="{{ 'vs_application.template.reload_current_user_all_widgets' | trans( {},'VSApplicationBundle' ) }}"
                    >
                        {{ 'vs_application.template.reload_current_user_all_widgets' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </div>
                
                <div style="float: left; margin-left: 30px; margin-bottom: 20px;">
                    <a class="btn btn-rounded btn-primary"
                        href="{{ path( 'vs_application_widget_ext_refresh_all_users' ) }}"
                        title="{{ 'vs_application.template.reload_all_users_registered_widgets' | trans( {},'VSApplicationBundle' ) }}"
                    >
                        {{ 'vs_application.template.reload_all_users_registered_widgets' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </div>
                
                <div style="float: left; margin-left: 30px; margin-bottom: 20px;">
                    <a class="btn btn-rounded btn-primary"
                        href="{{ path( 'vs_application_widget_ext_refresh_all_users', {'all': 1} ) }}"
                        title="{{ 'vs_application.template. reload_all_users_all_widgets' | trans( {},'VSApplicationBundle' ) }}"
                    >
                        {{ 'vs_application.template.reload_all_users_all_widgets' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </div>
                
                <div style="float: right; margin-right: 30px; margin-bottom: 20px;">
                    
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        {#
                        <th>{{ 'vs_application.template.items_index_row_title' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th>{{ 'vs_application.template.items_index_row_id' | trans( {},'VSApplicationBundle' ) }}</th>
                        #}
                        <th>{{ 'vs_application.template.items_index_row_owner' | trans( {},'VSApplicationBundle' ) }}</th>
                        
                        <th width="150">{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in widgets %}
                    <tr>
                        {#
                        <td>{{ item.title }}</td>
                        <td>{{ item.code }}</td>
                        #}
                        <td>
                            {% if item.owner %}
                                {{ item.owner.info.fullName }}
                            {% else %}
                                {{ 'vs_application.template.no_one' | trans( {},'VSApplicationBundle' ) }}
                            {% endif %}
                        </td>
                        
                        <td>
                            <div class="btn-group">
                                
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
