<tr data-node-id="{{ tocPage.id }}" {% if parentId %}data-node-pid="{{ tocPage.parent.id }}"{% endif %} data-position="{{ tocPage.position }}" id="tocPage-{{ tocPage.id }}">
    <td>
        <i class="fas fa-arrows-alt"
            title="{{ 'vs_application.form.drag_and_drop_title' | trans( {},'VSApplicationBundle' ) }}"
            style="cursor: pointer;"
        ></i>
    </td>
    <td>{{ tocPage.title }}</td>
    <td>
        {% for locale in tocPagesTranslations[tocPage.id] %}
            <i class="flag flag-{{ locale | split( '_' )[1] | lower }}"></i>
            {% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}
    </td>
    <td>
    	<a href="javascript:void(0);"
    	   class="btn btn-primary btnTocPage"
    	   data-documentId="{{ item.id }}"
    	   data-tocPageId="{{ tocPage.id }}"
    	   title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"
    	>
            <i class="fas fa-edit"></i>
    	</a>
    	<a class="btn btn-danger btnTocPageDelete btnDeleteResource"
            href="{{ path('vs_cms_multipage_toc_page_delete', {'documentId': item.id, 'tocPageId': tocPage.id}) }}"
            data-csrfToken="{{ csrf_token( tocPage.id ) }}" 
            data-redirectUrl="{{ path( 'vs_cms_document_update', {'id': item.id} ) }}"
            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
        >
            <i class="icon_close_alt2"></i>
        </a>
    </td>
</tr>

{% for child in tocPage.children %}
	{% include '@VSCms/Pages/Document/partial/simpleTreeTableRows.html.twig' with {'parentId': tocPage.id, 'tocPage': child} %}   
{% endfor %}
