<tr data-node-id="{{ tocPage.id }}" {% if parentId %}data-node-pid="{{ tocPage.parent.id }}"{% endif %} data-position="{{ tocPage.position }}">
    <td><i class="fas fa-arrows-alt" title="Drag and Drop to Change Order" style="cursor: pointer;"></i></td>
    <td>{{ tocPage.title }}</td>
    <td>
    	<a href="javascript:void(0);"
    	   class="btnTocPage"
    	   data-documentId="{{ item.id }}"
    	   data-tocPageId="{{ tocPage.id }}"
    	>
    		{{ 'vs_cms.template.page_categories_index_button_edit' | trans( {},'VSCmsBundle' ) }}
    	</a>
    </td>
</tr>

{% for child in tocPage.children %}
	{% include '@VSCms/Pages/Document/partial/simpleTreeTableRows.html.twig' with {'parentId': tocPage.id, 'tocPage': child} %}   
{% endfor %}
