{% macro success(text) %}
<div class="alert alert-success alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro info(text) %}
<div class="alert alert-info alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro error(text) %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <strong>{{ 'vs_application.form.errors_title' | trans( {},'VSApplicationBundle' ) }}</strong> {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro warning(text) %}
<div class="alert alert-warning alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro primary(text) %}
<div class="alert alert-primary alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro secondary(text) %}
<div class="alert alert-secondary alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro light(text) %}
<div class="alert alert-light alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}

{% macro dark(text) %}
<div class="alert alert-dark alert-dismissible" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endmacro %}
