{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': method }) }}
    {{ form_widget(form._token) }}
    
    <label class="custom-control custom-checkbox">  
        <input type="checkbox" id="page_form_enabled"
            class="custom-control-input form-check-input"
            name="page_form[enabled]"
            value="{{ item.enabled }}"
            {% if item.enabled %}checked="checked"{% endif %}
        />
        <span class="custom-control-label">Published</span>
    </label>
    
    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.category_taxon, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {# Documentation: https://www.jeasyui.com/documentation/combotree.php #}
        {% if item.id %}{% set itemId = item.id %}{% else %}{% set itemId = 0 %}{% endif %}
        {% set comboDataSourceUrl  = url('vs_cms_pages_tree_combo_with_selected', {'pageId': itemId, 'taxonomyId': taxonomyId}) %}
        {% set comboTreePlaceholder = 'vs_cms.form.page.categories_placeholder' | trans( {},'VSCmsBundle' ) %}
        {% set comboDataOptions    = "
        		url:'" ~ comboDataSourceUrl ~ 
        		"', required:true, multiple : true, checkbox : true, prompt:'" ~ comboTreePlaceholder ~"',
        		onBeforeLoad:function(node){
        		    //showSpiner
        		},
        		onLoadSuccess:function(node){
        			//hideSpiner
        		}
        " %}
        {{ form_widget(form.category_taxon, {
            'attr': {
                'class': 'form-control easyui-combotree',
                'data-options': comboDataOptions
            }
        }) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.title, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.description, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="row">&nbsp;</div>
    <div class="">
		<div class="card bg-info text-white shadow">
			<div class="card-body">
			  To display FOSCKEditor run: `bin/console ckeditor:install` and `bin/console assets:install`
			  <div class="text-white-50 small">Reference: https://symfony.com/doc/current/bundles/FOSCKEditorBundle/usage/ckeditor.html</div>
			</div>
		</div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.text, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ vs_form.buttons( form ) }}
{{ form_end(form, {'render_rest': false}) }}
