{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vs_cms.template.page_title_banner_place_update' | trans( {},'VSCmsBundle' ) ) ~ ': ' ~ item.name %}
{% else %}
    {% set pageTitle = 'vs_cms.template.page_title_banner_place_create' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_cms.template.page_title_banner_place_details'  | trans( {},'VSCmsBundle' ) }}</h5>
            	<div class="card-body">
            	
                    <div id="FormContainer" data-itemId="{{ item.id }}">
                        {% include '@VSCms/Pages/BannerPlaces/banner_place_form.html.twig' %}
                    </div>
                    
                </div>
            </div>
            
            {% if( item.id ) %}
                {% include '@VSCms/Pages/BannerPlaces/banners_table.html.twig' %}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block modals %}
    {% include '@VSCms/Modals/banner_edit.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/banner-places-edit' ) }}
    {{ encore_entry_link_tags( 'js/banner-modal' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/banner-places-edit' ) }}
    {{ encore_entry_script_tags( 'js/banner-modal' ) }}
{% endblock %}
