{% extends "@VSApplication/layout.html.twig" %}

{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_cms.template.pages_update_title' | trans( {},'VSCmsBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_cms.template.pages_create_title' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle}}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {% if(item.id) %}Edit: {{ item.title }}{% else %}Create New Static Page{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div>
                <div style="float: left;"></div>
                <div style="float: right; margin-right: 30px; margin-bottom: 20px;">
                    {% if(item.id) %}
                        <a id="pageClone" class="btn btn-info btn-circle btn-sm pageClone"  
                        	data-pageId="{{ item.id }}" 
                        	data-url={{ path( 'vs_cms_pages_clone', {'pageId': item.id} ) }}
                        	href="javascript:void(0);" 
                        	title="{{ 'vs_cms.template.button_clone' | trans( {},'VSCmsBundle' ) }}"
                        >
                            {{ 'vs_cms.template.button_clone' | trans( {},'VSCmsBundle' ) }}
                        </a>
                        <a id="pagePreview" class="btn btn-info btn-circle btn-sm pagePreview" 
                        	data-url="{{ path( 'vs_cms_pages_preview', {'pageId': item.id, 'locale': app.request.locale} ) }}" 
                        	href="javascript:void(0);" 
                        	title="{{ 'vs_cms.template.button_preview' | trans( {},'VSCmsBundle' ) }}"
                        >
                            {{ 'vs_cms.template.button_preview' | trans( {},'VSCmsBundle' ) }}
                        </a>
                    {% endif %}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{{ 'vs_cms.template.pages_title' | trans( {},'VSCmsBundle' ) }}</h5>
                <div class="card-body">
                   <div id="FormContainer" data-itemId="{{ item.id }}">
                        {% include '@VSCms/Pages/Pages/partial/page_form.html.twig' %}
                    </div>
                </div>
    		</div>
    	</div>
    </div>
{% endblock content %}

{% block modals %}
    {{ parent() }}
    
    <div id="page-clone-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        {% include '@VSCms/Modals/pages_page_clone.html.twig' %}
    </div>
    <div id="page-preview-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        {% include '@VSCms/Modals/pages_page_preview.html.twig' %}
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pages-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/pages-edit' ) }}
{% endblock %}

