{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
    <div class="row">
    	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="section-block">
                <h5 class="section-title">{{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}</h5>
                <p>{{ 'vs_application.template.dashboard_section_description' | trans( {},'VSApplicationBundle' ) }}</p>
            </div>
        </div>
    </div>
    
    {% if app_environment == 'dev' %}
        <fieldset class="border border-dark rounded p-3">
            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_application.template.test_widgets' | trans( {},'VSApplicationBundle' ) }}</legend>
            
            <p class="lead">
                Widgets are inspired form <a href="https://github.com/cesurapp/pd-widget">https://github.com/cesurapp/pd-widget</a>
            </p>
            
            # Render all 'admin' widget groups
            {{ vs_widget_render( 'admin-profile-page' ) }}
            
            # Render selected widgets in 'admin' group
            {{ vs_widget_render( 'admin-profile-page', ['user-info'] ) }}
        </fieldset>
    {% endif %}

{% endblock %}

