{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vs_cms.template.page_title_slider_item_update' | trans( {},'VSCmsBundle' ) ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vs_cms.template.page_title_slider_item_create' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_cms.template.page_title_slider_item_details'  | trans( {},'VSCmsBundle' ) }}</h5>
            	<div class="card-body">
            	
                    <div id="FormContainer" data-itemId="{{ item.id }}">
                        {% include '@VSCms/Pages/SlidersItems/slider_item_form.html.twig' %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/sliders-items-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/sliders-items-edit' ) }}
{% endblock %}
