{% extends "IAApplicationBundle::layout-login.html.twig" %}


{% block content %}
    <div class="login-wrap">
        <h1>WCT Registration</h1>
        <div>{{ form_errors(form) }}</div>
        {{ form_start(form, { 'attr': {'class': 'register-form form-horizontal '} }) }}
            {{ form_widget(form._token) }}
            {{ form_widget(form.profile.apiKey) }}
            <div class="form-group">
                <h2>Login Info</h2>
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <h2>Personal Info</h2>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.firstName, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.lastName, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.country, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.birthday, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.birthday, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.occupation, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.occupation, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.profile.mobile, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.mobile, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.profile.website, null, {
                    'label_attr': {'class': 'control-label col-lg-2'}
                    }) 
                }}
                <div class="col-lg-6">
                    {{ form_widget(form.profile.website, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="g-recaptcha" data-sitekey="6LcEXB4TAAAAAIUxBjDShLirjHQNu24FPmcMrv_C"></div>
                </div>
            </div>  
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p class="tos-info">
                        * By clicking on "Create account" below, you are agreeing to the
                        <a href="{{ path('ia_cms_pages_show', {'id': 'terms-of-conditions'}) }}">Terms of Service</a> and the
                        <a href="{{ path('ia_cms_pages_show', {'id': 'privacy-policy'}) }}">Privacy Policy</a>.
                    </p>
                </div>
            </div>
                
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    {{ form_widget(form.btnRegister, {'attr': {'class': 'btn btn-primary', 'id':'btnRegister'}}) }}
                    {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-danger', 'id':'btnCancel'}}) }}
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}

    </div>
{% endblock content %}
{% block head_scripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock head_scripts %}
