{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_application.template.widgets_update_title' | trans( {},'VSApplicationBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_application.template.widgets_create_title' | trans( {},'VSApplicationBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ pageTitle }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
	<div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_application.template.widget' | trans( {},'VSApplicationBundle' ) }}</h5>
            	<div class="card-body">
            	
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
		            
                    {% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': method }) }}
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" id="widget_form_enabled" name="widget_form[enabled]" 
                                class="custom-control-input form-check-input"
                                {% if form.vars.value.enabled %}checked="checked"{% endif %}
                            />
                            <span class="custom-control-label">{{ 'vs_application.form.active' | trans( {},'VSApplicationBundle' ) }}</span>
                        </label>
                        
                		<div class="form-group">
                        	{{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <div class="form-group">
                        	{{ form_label(form.group, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.group, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <div class="form-group">
                        	{{ form_label(form.name, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.description, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <fieldset class="border border-dark rounded p-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_application.form.allowed_users' | trans( {},'VSApplicationBundle' ) }}</legend>
            
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" id="widget_form_allowAnonymous" name="widget_form[allowAnonymous]" 
                                        class="custom-control-input form-check-input"
                                        {% if form.vars.value.allowAnonymous %}checked="checked"{% endif %}
                                    />
                                    <span class="custom-control-label">{{ 'vs_application.form.allow_anonymous' | trans( {},'VSApplicationBundle' ) }}</span>
                                </label>
                                
                                {% if item.id %}{% set itemId = item.id %}{% else %}{% set itemId = 0 %}{% endif %}
                                {% set comboDataSourceUrl  = url( 'vs_application_widget_ext_json_roles', {'editWidgetId': itemId}) %}
                                {% set comboTreePlaceholder = 'vs_application.form.allowed_roles_placeholder' | trans( {},'VSApplicationBundle' ) %}
                                <div class="form-group">
                                    {{ form_label( form.allowedRoles, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        } ) 
                                    }}
                                    
                                    {{ vs_tree.easyuiCombobox( form.allowedRoles, comboDataSourceUrl, itemId,
                                        {
                                            'elementSelector': '#widget_form_allowedRoles',
                                            'required': 'true',
                                            'multiple': 'true',
                                            'checkbox': 'true',
                                            'cascadeCheck': 'false',
                                            'placeholder': comboTreePlaceholder
                                        }
                                    ) }}
                                </div>
                                
                            </fieldset>
                        
                        {{ vs_form.buttons( form, metadata ) }}
                    {{ form_end(form, {'render_rest': false}) }}
        		</div>
			</div>
		</div>
    </div>  
{% endblock content %}

{% block head_styles %} 
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/widgets-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/widgets-edit' ) }}
{% endblock %}
