{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set status_color = collector.application is null ? 'red' : '' %}

    {% set icon %}
        {{ include('@VSApplication/DataCollector/Icon/application.svg') }}
        <span class="sf-toolbar-value">{{ collector.application.name | default( 'Undefined' ) }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece border-bottom">
            <b>{{ 'vs_application.data_collector.applications' | trans( {},'VSApplicationBundle' ) }}</b>
            <span class="sf-toolbar-status {% if collector.applications is empty %}sf-toolbar-status-red{% endif %}">
                {{ collector.applications|length }}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">&nbsp;</div>
        
        {% for application in collector.applications %}
            <div class="sf-toolbar-info-piece">
                <b>{{ application.name }}</b>
                <span>
                    {{ application.hostname }}
                    {% if collector.isApplicationChangeSupported %} 
                        (<a href="?_application_code={{ application.code }}">
                            {{ 'vs_application.data_collector.change' | trans( {},'VSApplicationBundle' ) }}
                        </a>)
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false, status: status_color }) }}
{% endblock %}
