{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if formErrors is defined %}
    {{ vs_form.errors( formErrors ) }}     
{% endif %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormBanner'}, 'method': method }) }}
    
    <label class="custom-control custom-checkbox">  
        <input type="checkbox" id="banner_form_enabled"
            class="custom-control-input"
            name="banner_form[enabled]"
            value="{{ item.enabled }}"
            {% if item.enabled %}checked="checked"{% endif %}
        />
        <span class="custom-control-label">{{ 'vs_cms.form.published' | trans({}, 'VSCmsBundle') }}</span>
    </label>
    
    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ form_widget( form.selectedPlaces ) }}
    <div class="form-group">
        {{ form_label(form.places, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.places, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.title, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.url, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.image, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        <div class="input-group form-field-file">
            {% if item.image %}{% set originalName = item.image.originalName %}{% else %}{% set originalName = '' %}{% endif %}
            {{ form_widget(form.image, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': originalName
                }
            }) }}
            <label class="input-group-text" for="banner_form_image">{{ originalName }}</label>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    
    {% if metadata is defined %}
        {{ vs_form.buttons( form, metadata ) }}
    {% endif %}
    
{{ form_end(form, {'render_rest': false}) }}