{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_application.template.project_issues.index_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}
{% block pageTitle %}{{ 'vs_application.template.project_issues.index_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            
            <table class="table table-striped table-advance table-hover vsTableSortable">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'vs_application.template.items_index_row_title' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th>{{ 'vs_application.template.project_issues.labels' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th>{{ 'vs_application.template.project_issues.status' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th>{{ 'vs_application.template.items_index_row_created' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th>{{ 'vs_application.template.items_index_row_updated' | trans( {},'VSApplicationBundle' ) }}</th>
                        <th width="150">{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in issues %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.labels | vs_tags }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.createdAt }}</td>
                            <td>{{ item.updatedAt }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       href="{{ path('vs_application_project_issues_update', {'id': item.id}) }}"
                                       title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"   
                                    >
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    
                                    <a class="btn btn-danger btnDeleteResource"
                                        href="{{ path('vs_application_project_issues_delete', {'id': item.id}) }}"
                                        data-csrfToken="{{ csrf_token( item.id ) }}"
                                        data-redirectUrl="{{ path( 'vs_application_project_issues_index' ) }}"
                                        title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                    >
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">
                                {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/project-issues' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/project-issues' ) }}
{% endblock %}
