{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{% if( itemId ) %}
    {% set pageTitle = 'vs_application.template.project_issues.update_title' | trans( {},'VSApplicationBundle' ) %}
{% else %}
    {% set pageTitle = 'vs_application.template.project_issues.create_title' | trans( {},'VSApplicationBundle' ) %}
{% endif %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ pageTitle }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{{ 'vs_application.template.project_issues.issue_details'  | trans( {},'VSApplicationBundle' ) }}</h5>
                <div class="card-body">
                
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
                    
                    <div id="FormContainer">
                        {% if(itemId) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormProjectIssue'}, 'method': method }) }}
                        
                            <div class="form-group">
                                {{ form_label(form.title, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.description, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <fieldset class="border border-dark rounded p-3 m-3">
                                <legend class="w-auto float-none ps-2 pe-2">
                                    {{ 'vs_application.form.project_issue.status'  | trans( {},'VSApplicationBundle' ) }}
                                </legend>
                                
                                {% for status in form.status %}
                                    <div class="form-check">
                                        {{ form_widget(status, {'attr': {'class': 'form-check-input project-issue-status-radio', 'checked': loop.index == 1}}) }}
                                        
                                        {{ form_label(status, null, {
                                            'label_attr': {'class': 'form-check-label'}
                                            }) 
                                        }}
                                    </div>
                                {% endfor %}
                            </fieldset>
                            
                            {{ form_widget( form.labelsWhitelist, { 'value' : labelsWhitelist | join(',') } ) }}
                            <div class="form-group">
                                {{ form_label(form.labels, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.labels, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="row">&nbsp;</div>
    
                            <div class="input-group row vsFormButtonsGroup">
                                <div class="col-sm-2">
                                    {{ form_widget(form.btnApply, {'attr': {'class': 'btn btn-primary', 'id':'btnApply'}}) }}
                                </div>
                                <div class="col-sm-2">
                                    {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                                </div>
                                
                                <div class="col-sm-2">
                                    <a class="btn btn-default" href="{{ path( 'vs_application_project_issues_index' ) }}">
                                        {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                                    </a>
                                </div>
                                
                                <div class="col-sm-6"></div>
                            </div>
                            
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/project-issues-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/project-issues-edit' ) }}
{% endblock %}
