<tr data-node-id="{{ item.id }}" {% if parentId %}data-node-pid="{{ item.parent.id }}"{% endif %}>
    <td>{{ item.name }}</td>
    <td>
    	<a href="{{ path('vs_cms_document_categories_update', {'id': item.id}) }}">
    		{{ 'vs_cms.template.document_categories_index_button_edit' | trans( {},'VSCmsBundle' ) }}
    	</a>
    </td>
</tr>
{#
{% for child in item.children %}
	{% include '@VSCms/Pages/Document_Categories/partial/simpleTreeTableRows.html.twig' with {'parentId': item.id, 'item': child} %}
{% endfor %}
#}
