{% extends "@VSApplication/layout.html.twig" %}

{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_application.template.tags_whitelist_contexts_update_title' | trans( {},'VSApplicationBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_application.template.tags_whitelist_contexts_create_title' | trans( {},'VSApplicationBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ pageTitle }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
	<div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        
            <div class="card">
            	<h5 class="card-header">{{ 'vs_application.template.tags_whitelist_contexts_details' | trans( {},'VSApplicationBundle' ) }}</h5>
            	<div class="card-body">
					
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
		            
                    {% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                    {{ form_start( form, { 'attr': {'class': 'form-horizontal '}, 'method': method } ) }}
                    
                		<div class="form-group">
                            {{ form_label(form.name, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        {{ vs_form.buttons( form, metadata ) }}
                    {{ form_end( form ) }}
        		</div>
			</div>
			
			{% if( item.id ) %}
                <div class="card">
                    <div class="card-header">
                        <div class="float-start" style="height:30px; padding-top:10px;">
                            {{ 'vs_application.template.tags_whitelist_contexts_tags' | trans( {},'VSApplicationBundle' ) }}
                        </div>
                        <div class="btn-group float-end">
                        
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0;">
                        {{ form_start( tagsForm, { 'attr': {'class': 'form-horizontal '} } ) }}
                            <div id="contextTagsContainer" class="mt-4 mb-4"
                                data-prototype="{% apply escape %}{% include '@VSApplication/Pages/TagsWhitelistContext/add-tag-prototype.html.twig' with {'form': tagsForm.tags.vars.prototype} %}{% endapply %}"
                            >
                                {% for tag in tagsForm.tags %}
                                    {% include '@VSApplication/Pages/TagsWhitelistContext/add-tag-prototype.html.twig' with {'form': tag} %}
                                {% endfor %}
                            </div>
                            
                            <div class="input-group row ms-2 mb-2">
                                <div class="col-sm-2">
                                    {{ form_widget(tagsForm.btnSubmitTags, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                        {{ form_end( tagsForm ) }}
                    </div>
                </div>
            {% endif %}
			
		</div>
    </div>  
{% endblock content %}

{% block head_styles %} 
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/tags-whitelist-contexts-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/tags-whitelist-contexts-edit' ) }}
{% endblock %}
