{% import "@VSApplication/Macros/translations.html.twig" as vs_translations %}

<tr>
    <td>{{ loop.index }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.slug }}</td>
    
    <td style="text-align: center;">
        {% if item.isPublished() %}
            <i class="fas fa-check" style="color: #82c91e;">
        {% else %}
            <i class="fas fa-times" style="color: #ff1e1e;"></i>
        {% endif %}
    </td>
    <td>{% if translations[item.id] is defined %}{{ vs_translations.flags( translations[item.id] ) }}{% endif %}</td>
    <td>{% if versions[item.id] is defined %}{{ vs_translations.versionFlags( versions[item.id] ) }}{% endif %}</td>
    <td>
        <div class="btn-group">
            <a class="btn btn-outline-primary pagePreview"
                data-url="{{ path( 'vs_cms_pages_preview', {'pageId': item.id, 'locale': app.request.locale} ) }}" 
                href="javascript:void(0);" 
                {#href="{{ path('vs_cms_pages_show_by_id', {'id': item.id}) }}"#}
                {#href="{{ path('vs_cms_pages_show_by_id', {'id': item.id}) }}"#} 
                title="{{ 'vs_cms.template.button_preview' | trans( {},'VSCmsBundle' ) }}"
            >
                <i class="fas fa-eye" style="color: #be4bdb;"></i>
            </a>
            <a class="btn btn-outline-primary pageClone" 
                data-url="{{ path( 'vs_cms_pages_clone', {'pageId': item.id} ) }}"
                href="javascript:void(0);" 
                title="{{ 'vs_cms.template.button_clone' | trans( {},'VSCmsBundle' ) }}"
            >
                <i class="fas fa-clone" style="color: #495057;"></i>
            </a>
            <a class="btn btn-primary"
                href="{{ path('vs_cms_pages_update', {'id': item.id}) }}"
                title="{{ 'vs_cms.template.button_edit' | trans( {},'VSCmsBundle' ) }}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-danger btnDeleteResource" 
                href="{{ path('vs_cms_pages_delete', {'id': item.id}) }}"
                data-csrfToken="{{ csrf_token( item.id ) }}"
                title="{{ 'vs_cms.template.button_delete' | trans( {},'VSCmsBundle' ) }}"
            >
                <i class="icon_close_alt2"></i>
            </a>
        </div>
    </td>
</tr>