{% extends "@VSApplication/layout.html.twig" %}

{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_cms.template.page_categories_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_cms.template.page_categories_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% if items|length > 0 %}
            	{% include '@VSCms/Pages/Page_Categories/partial/simpleTreeTable.html.twig' %}
            {% else %}
                {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pages-categories' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/pages-categories' ) }}
{% endblock %}
