<tr data-node-id="{{ taxon.id }}" {% if parentId %}data-node-pid="{{ taxon.parent.id }}"{% endif %} data-position="{{ taxon.position }}" id="tocPage-{{ taxon.id }}">
    <td><i class="fas fa-arrows-alt" title="Drag and Drop to Change Order" style="cursor: pointer;"></i></td>
    <td>{{ taxon.name }}</td>
    <td>
        {% for locale in taxonTranslations[taxon.id] %}
            <i class="flag flag-{{ locale | split( '_' )[1] | lower }}"></i>
            {% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}
    </td>
    <td>
    {#
    	<a href="javascript:void(0);"
    	   class="btn btn-primary btnTocPage"
    	   data-documentId="{{ item.id }}"
    	   data-tocPageId="{{ taxon.id }}"
    	   title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"
    	>
            <i class="fas fa-edit"></i>
    	</a>
    	<a class="btn btn-danger btnTocPageDelete btnDeleteResource"
            href="{{ path('vs_cms_multipage_toc_page_delete', {'documentId': item.id, 'tocPageId': taxon.id}) }}"
            data-csrfToken="{{ csrf_token( taxon.id ) }}"
            data-redirectUrl="{{ path( 'vs_wgp_tablature_index' ) }}" 
            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
        >
            <i class="icon_close_alt2"></i>
        </a>
    #}
    </td>
</tr>

{% for child in taxon.children %}
	{% include '@VSApplication/Pages/Taxonomy/partial/simpleTreeTableRows.html.twig' with {'parentId': taxon.id, 'taxon': child} %}   
{% endfor %}
