{% extends "layout.html.twig" %}
{% block head_styles %}
    {{ parent() }}
    {% stylesheets filter='uglifycss, cssrewrite' output="assets/build/wct.css"
        'bundles/iataxonomy/vendor/jstree/dist/themes/default/style.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}{{ parent() }} :: Edit Page{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Edit Page{% endblock %}

{% block content %}
    <div class="row">   
        <div class="col-lg-12">
            {% include 'IATaxonomyBundle:Terms/Form:_term.html.twig' with {'form': form} %}
        </div>
    </div>
{% endblock content %}

{% block endDocumentScripts %}
    {{ parent() }}

    {% javascripts filter="?uglifyjs2" output="assets/build/main.js" 
        '@IATaxonomyBundle/Resources/public/vendor/jstree/dist/jstree.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        $('#parentTreeContainer').jstree({ 
            'core' : {
                'themes' : {
                    'variant' : 'large'
                },
                'data' : {
                    'url' : '{{ path('ia_taxonomy_api_terms_get_json_tree', {'vocabularyId': 1}) }}',
                    'data' : function (node) {
                        return { 'id' : node.id };
                    }
                }
            } 
        })
        .on("select_node.jstree", function (e, data) { 
            $('#ia_taxonomy_terms_parent').val(data.node.data.termId);
        });
    </script>

{% endblock %}
