{%- extends '@Pagerfanta/default.html.twig' -%}

{%- block pager -%}
    {#
    Page: {$page}<br />
    Pages Count: {$pagesNum}<br />
    Items Count: {$totalItemsCount}<br /><br />
    #}
    <!-- VsPager BEGIN -->
    <nav aria-label="Page navigation example" class="mx-auto d-flex justify-content-center">
        <ul class="pagination">
            {%- set prevPath = 'javascript:void(0);' -%}
            {%- set firstPath = 'javascript:void(0);' -%}
            {%- set nextPath = 'javascript:void(0);' -%}
            {%- set lastPath = 'javascript:void(0);' -%}
            
            {%- if pagerfanta.hasPreviousPage() -%}
                {%- set prevPath = route_generator.route( pagerfanta.getPreviousPage() ) -%}
                {%- set firstPath = route_generator.route(1) -%}
            {%- endif -%}
        
            {%- if pagerfanta.hasNextPage() -%}
                {%- set nextPath = route_generator.route( pagerfanta.getNextPage() ) -%}
                {%- set lastPath = route_generator.route(nb_pages) -%}
            {%- endif -%}
            
            {# First Page Link #}
            <li class="page-item">
                <a class="page-link" href="{{ firstPath }}" aria-label="First">
                    <span aria-hidden="true">«</span><span class="sr-only">First</span>
                </a>
            </li>
            
            {# Previous Page Link #}
            <li class="page-item">
                <a class="page-link" href="{{ prevPath }}" aria-label="Previous">
                    <span aria-hidden="true">‹</span><span class="sr-only">Previous</span>
                </a>
            </li>
            
            {# Page Links #}
            {%- for page in range( start_page, end_page ) -%}
                {%- set path = route_generator.route( page ) -%}
                {%- if page == current_page -%}
                    {{- block('current_page_link') -}}
                {%- else -%}
                    {{- block('page_link') -}}
                {%- endif -%}
            {%- endfor -%}
            
            {# Next Page Link #}
            <li class="page-item">
                <a class="page-link" href="{{ nextPath }}" aria-label="Next"><span aria-hidden="true">›</span>
                   <span class="sr-only">Next</span>
                </a>
            </li>
            
            {# Last Page Link #}
            <li class="page-item">
                <a class="page-link" href="{{ lastPath }}" aria-label="Last"><span aria-hidden="true">»</span>
                   <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- VsPager END -->
{%- endblock pager -%}

{%- block page_link -%}
    <li class="page-item"><a class="page-link" href="{{- path -}}">{{- page -}}</a></li>
{%- endblock page_link -%}

{%- block current_page_link -%}
    <li class="page-item active"><a class="page-link" href="javascript:void(0);">{{- page -}}</a></li>
{%- endblock current_page_link -%}

{%- block ellipsis -%}
    <span class="dots">...</span>&nbsp;&nbsp;
{%- endblock ellipsis -%}
