<div class="card">
    <div class="card-header d-flex">
        <h4 class="card-header-title">{{ 'vs_users.template.profile_activity_header' | trans( {},'VSUsersBundle' ) }}</h4>
        <div class="toolbar ms-auto mt-auto mb-auto">
            <a href="javascript:void(0);" class="btn btn-primary btn-sm" id="btnClearAllActivities">
                {{ 'vs_users.template.profile_activity_clear_all' | trans( {},'VSUsersBundle' ) }}
            </a>
        </div>
    </div>
    <div class="card-body bio-graph-info profile-activity overflow-scroll">
        {% for activity in user.activities %}                                       
            <div class="act-time mb-3">                                      
                <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                        <a class="activity-img" href="javascript:void(0);">
                            <img src="{{ asset( '/build/default/images/avatar-2.jpg' ) }}" class="user-avatar-md rounded-circle">
                        </a>
                        <p class="attribution">
                            <a href="javascript:void(0);">{{ 'vs_users.template.profile_activity_name' | trans( {},'VSUsersBundle' ) }}</a> at {{ activity.date | date( "g:ia , jS F Y ( l )" ) }}
                        </p>
                        <p>{{ activity.activity }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
