<div class="card">
    <div class="card-header d-flex">
        <h4 class="card-header-title">{{ 'vs_users.template.profile_notifications' | trans( {},'VSUsersBundle' ) }}</h4>
        <div class="toolbar ms-auto mt-auto mb-auto">
            <a href="javascript:void(0);" class="btn btn-primary btn-sm" id="btnSetAllNotificationsReaded">
                {{ 'vs_users.template.profile_notification_set_all_readed' | trans( {},'VSUsersBundle' ) }}
            </a>
            <a href="javascript:void(0);" class="btn btn-primary btn-sm" id="btnClearAllNotifications">
                {{ 'vs_users.template.profile_notification_clear_all' | trans( {},'VSUsersBundle' ) }}
            </a>
        </div>
    </div>
    <div class="card-body bio-graph-info profile-notification overflow-scroll">
        {% for notification in user.notifications %}                                       
            <div class="act-time mb-3">                                      
                <div class="notification-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                        <a class="notification-list-user-img me-2" href="javascript:void(0);">
                            <img src="{{ asset( '/build/default/images/avatar-2.jpg' ) }}" class="user-avatar-md rounded-circle">
                        </a>
                        <p class="attribution">
                            <a href="javascript:void(0);" class="me-2 btnShowNotification"
                                data-notificationId="{{ notification.id }}"
                                data-notificationHasBody="{{ notification.notificationBody is not empty }}"
                            >{{ 'vs_users.template.profile_notification_name' | trans( {},'VSUsersBundle' ) }}</a>
                            
                            at {{ notification.date | date( "g:ia , jS F Y ( l )" ) }} 
                            
                            {% if notification.readed %}
                                - <span class="text-success">{{ 'vs_users.template.profile_notification_readed' | trans( {},'VSUsersBundle' ) }}</span>
                            {% else %}
                                - <span class="text-danger">{{ 'vs_users.template.profile_notification_unreaded' | trans( {},'VSUsersBundle' ) }}</span>
                            {% endif %}
                        </p>
                        <p>{{ notification.notification }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
