{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_cms.template.document_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_cms.template.document_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th>{{ 'vs_cms.template.document_index_table_title' | trans( {},'VSCmsBundle' ) }}</th>
                        <th width="150">{{ 'vs_cms.template.title_actions' | trans( {},'VSCmsBundle' ) }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in resources %}
                    <tr>
                        <td>{{ item.title }}</td>

                        <td>
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                        href="{{ path('vs_cms_document_update', {'id': item.id}) }}"
                                        title="{{ 'vs_cms.template.button_update' | trans( {},'VSCmsBundle' ) }}"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btnDeleteResource"
                                    	href="{{ path('vs_cms_document_delete', {'id': item.id}) }}" 
                                    	data-csrfToken="{{ csrf_token( item.id ) }}" 
                                    	title="{{ 'vs_cms.template.button_delete' | trans( {},'VSCmsBundle' ) }}"
                                    >
                                        <i class="icon_close_alt2"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {% if resources.haveToPaginate() %}
                {{ pagerfanta( resources, null, { 'proximity': 10 } ) }}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/documents-index' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/documents-index' ) }}
{% endblock %}
