{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% block title %}{{ parent() }} :: Edit Document{% endblock %}
{% block pageTitle %}
    <i class="icon_genius"></i>
    {% if( item.id) %}
        {{ 'vs_cms.template.document_update_title' | trans( {},'VSCmsBundle' ) }}: {{ item.title }}
    {% else %}
        {{ 'vs_cms.template.document_create_title' | trans( {},'VSCmsBundle' ) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<div class="card-body" id="DocumentFormContainer" data-documentId="{{ item.id }}">
            		{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'method': formMethod }) }}
                    
                        {% if formErrors is defined %}
                            {{ vs_form.errors( formErrors ) }}     
                        {% endif %}
                        
                        <div class="form-group">
                        	{{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.category, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.text, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.text, {'attr': {'class': 'form-control'}, 'value' : rootTocPageText}) }}
                        </div>
                        
                    	{{ vs_form.buttons( form, metadata ) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
            
            {% if( item.id ) %}
				<div class="card" id="containerTocPages">
	                <div class="card-header">
                        <div class="float-start" style="height:30px; padding-top:10px;">{{ 'vs_cms.template.document_update_toc_pages_title' | trans( {},'VSCmsBundle' ) }}</div>
                        <div class="btn-group float-end">
                            <a class="btn btn-primary btnTocPage" id="btnTocPage" 
                            	title="{{ 'vs_cms.template.button_create_toc_page' | trans( {},'VSCmsBundle' ) }}" 
                            	href="javascript:void(0);"
                            	data-documentId="{{ item.id }}"
                            	data-tocPageId="0"
                            >
                            	{{ 'vs_cms.template.button_create_toc_page' | trans( {},'VSCmsBundle' ) }}
                            </a>&nbsp;
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0;">
                        {% if item.tocRootPage.children|length > 0 %}
                            {% include '@VSCms/Pages/Document/partial/simpleTreeTable.html.twig' %}
                        {% else %}
                            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
                        {% endif %}
                    </div>
				</div>
			{% endif %}
         
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block modals %}
    {% include '@VSCms/Modals/toc_page_edit.html.twig' %}
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/toc-pages' ) }}
	{{ encore_entry_link_tags( 'js/toc-pages-delete' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/toc-pages' ) }}
    {{ encore_entry_script_tags( 'js/toc-pages-delete' ) }}
{% endblock %}

