{% if widget.isActive %}
    {% if widget.params.installationInfo %}
        <li class="nav-divider">
            {{ 'vs_application.menu.project_version' | trans( {},'VSApplicationBundle' ) }}: 
            {{ widget.params.installationInfo.version }}
        </li>
    {% endif %}
    
    {% if ( widget.params.applications | length ) > 1 %}
        {% if not widget.params.installationInfo %}
            <li class="nav-divider">{{ 'vs_application.menu.application_links' | trans( {},'VSApplicationBundle' ) }}</li>
        {% endif %}
        
        <li class="nav-item ">
            <a class="nav-link"
                data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#submenu-applications" aria-controls="submenu-applications"
                href="javascript:;"
            >
                <span>{{ 'vs_application.menu.applications' | trans( {},'VSApplicationBundle' ) }}</span>
            </a>
            
            <div id="submenu-applications" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    {% for oApplication in widget.params.applications %}
                        {% if oApplication.code != 'admin-panel' %}
                        	
                        	{% if oApplication.hostname[:3] == 'api' %}
                                {% set appHost = oApplication.hostname ~ '/api/api-docs' %}
                            {% else %}
                            	{% set appHost = oApplication.hostname %}
                            {% endif %}
                            
                            <li class="nav-item ">
                                <a class="nav-link main-menu-button" href="http://{{ appHost }}" target="_blank">
                                    {{ oApplication.title }}
                                </a>
                           </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endif %}
    
    <li class="nav-divider"><hr /></li>
{% endif %}