{% extends 'knp_menu.html.twig' %}

{% block root %}
    <ul class="navbar-nav flex-column">
        {% for id, parentItem in item.children %}
            <li class="nav-item profile-submenu">
                {% if parentItem.extra( 'divider' ) %}
                    <hr class="mt-1 mb-1"/>
                {% else %}
                    <a class="dropdown-item" href="{{ parentItem.uri }}"
                        {% if parentItem.attributes.target %}target="{{ parentItem.attributes.target }}"{% endif %}
                    >
                        <i class="{{ parentItem.attributes.iconClass }}"></i>{{ parentItem.name }}
                    </a>
                    
                    {% if parentItem.attributes.id is defined and parentItem.attributes.id == 'language' %}
                        {{ vs_widget_render( 'admin-profile-menu', ['profile-menu-locales'] ) }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
