{% extends "@VSApplication/layout.html.twig" %}

{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_application.template.taxonomy_update_title' | trans( {},'VSApplicationBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_application.template.taxonomy_create_title' | trans( {},'VSApplicationBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ pageTitle }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
	<div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_application.template.taxonomy_title' | trans( {},'VSApplicationBundle' ) }}</h5>
            	<div class="card-body">
            	
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
		            
                    {% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': method }) }}
                		<div class="form-group">
                        	{{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                        	{{ form_label(form.name, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                        	{{ form_label(form.description, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        
                        {{ vs_form.buttons( form, metadata ) }}
                    {{ form_end(form) }}
        		</div>
			</div>
			{% if( item.id ) %}
				<div class="card">
	                <div class="card-header">
                        <div class="float-start" style="height:30px; padding-top:10px;">
                            {{ 'vs_application.template.taxonomy_update_list_taxons_title' | trans( {},'VSApplicationBundle' ) }}
                        </div>
                        <div class="btn-group float-end">
                            <a class="btn btn-primary btnTaxonomyTaxon"
                                title="{{ 'vs_application.template.button_create_taxon' | trans( {},'VSApplicationBundle' ) }}"
                                href="javascript:void(0);" 
                            	data-url="{{ path('vs_application_taxonomy_taxon_edit', {'taxonomyId': item.id}) }}"
                            	data-easyui-url="{{ path( 'vs_application_taxonomy_taxons_easyui_combotree', {'taxonomyId': item.id} ) }}"
                            >
                            	{{ 'vs_application.template.button_create_taxon' | trans( {},'VSApplicationBundle' ) }}
                            </a>&nbsp;
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0;">
                        {% if item.rootTaxon.children|length > 0 %}
                            {% include '@VSApplication/Pages/Taxonomy/partial/simpleTreeTable.html.twig' %}
                        {% else %}
                            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
                        {% endif %}
                    </div>
				</div>
			{% endif %}
		</div>
    </div>  
{% endblock content %}

{% block modals %}
    {% include '@VSApplication/Pages/Taxonomy/modal/taxonomy_taxon_edit.html.twig' %}
{% endblock %}

{% block head_styles %}	
	{{ parent() }}
	{{ encore_entry_link_tags( 'js/taxonomy-vocabolaries-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/taxonomy-vocabolaries-edit' ) }}
{% endblock %}

