<!doctype html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
	<head>
        <title>{% block title %}.:: {{ applicationTitle }} ( Admin Panel ){% endblock %}</title>

        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="icon" type="image/png" href="{{ asset( 'build/images/vankosoft-thumb.png' ) }}" />
        {% endblock %}

        {% block head_styles %}
            {{ encore_entry_link_tags( 'css/global' ) }}
            {{ encore_entry_link_tags( 'js/app' ) }}
        {% endblock %}

        {% block head_scripts %}
            {{ encore_entry_script_tags( 'js/app' ) }}
        {% endblock %}
    </head>
    <body>
        <div class="dashboard-main-wrapper">
           
            <div class="dashboard-header">
                {% include '@VSApplication/Layout/top.html.twig' %}
            </div>
            
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list">
                    {% include '@VSApplication/Layout/side.html.twig' %}
                </div>
            </div>
            
            <div class="dashboard-wrapper">
            	{% block content %}{% endblock %}
            </div>
            
            {% include '@VSApplication/Layout/footer.html.twig' %}
        </div>
        
        
        
        <!-- Modal Dialogs -->
        {% block modals %}{% endblock %}
        
        <!-- Optional JavaScript -->
        {% block body_scripts %}
            
       	{% endblock %}
    </body>
</html>
                	