{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.contact_page.visit_us' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ 'vs_application.template.contact_page.visit_us' | trans( {},'VSApplicationBundle' ) }}</h2>
    <p class="pageheader-text">
        {{ 'vs_application.template.contact_page.contact_text' | trans( {},'VSApplicationBundle' ) }}
    </p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <h4>{{ 'vs_application.template.contact_page.contact_details' | trans( {},'VSApplicationBundle' ) }}</h4>
            <p>
            {% if showAddress %}
                {{ 'vs_application.template.contact_page.my_address' | trans( {},'VSApplicationBundle' ) }}
                <br/><br/>
            {% endif %}
                {{ contactEmail }}<br/>
            {% if showPhone %}
                ﻿Tel 123-456-6780<br/>
                Fax 123-456-5679<br/>
            {% endif %}
                web:bootsshop.com
            </p>        
        </div>
            
        <div class="span4">
            <h4>{{ 'vs_application.template.contact_page.opening_hours' | trans( {},'VSApplicationBundle' ) }}</h4>
            <h5> Monday - Friday</h5>
            <p>09:00am - 09:00pm<br/><br/></p>
            <h5>Saturday</h5>
            <p>09:00am - 07:00pm<br/><br/></p>
            <h5>Sunday</h5>
            <p>12:30pm - 06:00pm<br/><br/></p>
        </div>
        
        <div class="span4">
            <h4>{{ 'vs_application.template.contact_page.email_us' | trans( {},'VSApplicationBundle' ) }}</h4>
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <fieldset>
                    <div class="control-group">
                        {{ form_widget(form.name, {'attr': {'class': 'input-xlarge', 'placeholder': "Your Name"}}) }}
                    </div>
                    <div class="control-group">
                        {{ form_widget(form.email, {'attr': {'class': 'input-xlarge', 'placeholder': "Your Email"}}) }}
                    </div>
                    <div class="control-group">
                        {{ form_widget(form.subject, {'attr': {'class': 'input-xlarge', 'placeholder': "Subject"}}) }}
                    </div>
                    <div class="control-group">
                        {{ form_widget(form.message, {'attr': {'class': 'input-xlarge', 'placeholder': "Message"}}) }}
                    </div>
                    
                    {{ form_widget(form.btnSubmit, {'attr': {'class': 'btn btn-large'}}) }}
                </fieldset>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <iframe style="width:100%; height:300; border: 0px" scrolling="no" src="{{ googleMap | raw }}"></iframe><br />
            <small>
                <a href="{{ googleLargeMap }}" style="color:#0000FF;text-align:left">
                    {{ 'vs_application.template.contact_page.view_larger_map' | trans( {},'VSApplicationBundle' ) }}
                </a>
            </small>
        </div>
    </div>
{% endblock %}