{% extends "@VSApplication/layout-login.html.twig" %}

{% block content %}
	<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="card-header text-center">
    	<a class="navbar-brand" href="/">
    		<!-- <img class="logo-img" src="{{ asset('assets/build/new-template/images/logo.png') }}" alt="logo"> -->
    		{{ applicationCompany | trans( {},'VSApplicationBundle' ) }}<br />
            {{ applicationTitle | trans( {},'VSApplicationBundle' ) }}
    	</a>
    	<span class="splash-description">{{ 'vs_application.form.login.sub_title' | trans( {},'VSApplicationBundle' ) }}</span>
    	
        {% if error %}
        	<div class="alert alert-danger mt-4 float-start text-left w-100" role="alert">
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}
    </div>
    
    <div class="card-body">
        <form class="login-form" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            
            <div class="form-group">
                <input type="text" class="form-control form-control-lg"
                    placeholder="{{ 'vs_application.form.login.username_placeholder' | trans( {},'VSApplicationBundle' ) }}"
                    autofocus id="username" name="_username" value="{{ last_username }}"
                />
            </div>
            <div class="form-group">
                <div class="position-relative auth-pass-inputgroup mb-3">
                    <input type="password" class="form-control form-control-lg password-input"
                        placeholder="{{ 'vs_application.form.login.password_placeholder' | trans( {},'VSApplicationBundle' ) }}"
                        id="password" name="_password"
                    />
                    <button class="btn btn-link position-absolute end-0 text-decoration-none text-muted password-addon loginPasswordAddon" type="button" id="password-addon">
                        <i class="ri-eye-fill align-middle"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
            	<label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="_remember_me" />
                    <span class="custom-control-label">{{ 'vs_application.form.login.remember_me' | trans( {},'VSApplicationBundle' ) }}</span>
            	</label>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">{{ 'vs_application.form.login.button_login' | trans( {},'VSApplicationBundle' ) }}</button>
        </form>
    </div>
    <div class="card-footer bg-white p-0  ">
    {% if formCreateAccount %}
        <div class="card-footer-item card-footer-item-bordered">
            <a href="{{ path('vs_users_register_form') }}" class="footer-link">
            	{{ 'vs_application.form.login.button_register' | trans( {},'VSApplicationBundle' ) }}
            </a>
        </div>
        <div class="card-footer-item card-footer-item-bordered">
            <a href="{{ path('vs_users_forgot_password_form') }}" class="footer-link">
            	{{ 'vs_application.form.login.button_forgot_password' | trans( {},'VSApplicationBundle' ) }}
            </a>
        </div>
    {% endif %}
    </div>
{% endblock %}
