{% if userInfo.avatar %}
    <div class="row">
        <img
            src="{{ userInfo.avatar.path|imagine_filter('profile_form_thumb') }}"
            style="width: 120px; height: 100px; border: 2px solid #000000;"
        />
    </div>
{% endif %}

{{ form_start(form, { 'action': path('vs_users_user_info_handle', {'userId': user.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'id': 'formUserInfo'} }) }}  
    
    <div class="form-group mb-3">
        <label for="game_form_picture" class="col-form-label">
            {{ 'vs_application.form.picture'  | trans( {},'VSApplicationBundle' ) }}
        </label>
        
        <div class="form-field-file">
            {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control' }}) }}
            {{ form_label(form.profilePicture, null, {
                'label_attr': {'class': 'input-group-text'}
                }) 
            }}
        </div>
    </div>
    <div class="mb-1">&nbsp;</div>
    
    <div class="form-group">
        {{ form_label(form.firstName, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control' }}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastName, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control' }}) }}
    </div>
{{ form_end(form, {'render_rest': false}) }}