<tr data-node-id="{{ item.id }}" {% if parentId %}data-node-pid="{{ parentId }}"{% endif %}>
    <td>{{ item.name }}</td>
    <td>
    	<a href="{{ path('vs_cms_page_categories_update', {'id': item.id}) }}?id={{ item.id }}">Edit</a>
    </td>
</tr>

{% for child in item.__children %}
	{% include '@VSCms/Page_Categories/partial/category_index_row.html.twig' with {'parentId': item.id, 'item': child} %}   
{% endfor %}
