{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} :: Create New Plan{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Create New Plan{% endblock %}

{% block content %}
	<div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{% if(item.getId()) %}Edit:	{{ item.getTitle() }}{% else %}Create New Package Plan{% endif %}</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render('breadcrumbs', {'template': 'menu/breadcrumb.html.twig'}) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
    	<div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                	<h5 class="card-header">Package Plan Details</h5>

                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
            
                        {% if form_errors(form) is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>Error!</strong> {{ form_errors(form) }}
                            </div>
                        {% endif %}
                              
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'col-sm-1 control-label'}
                                }) 
                            }}
                            <div class="col-sm-10">
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.subscriptionPeriod, null, {
                                'label_attr': {'class': 'col-sm-1 control-label'}
                                }) 
                            }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subscriptionPeriod, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                           
                        
                        <div class="row">&nbsp;</div>
            			<div class="input-group row">
            				<div class="col-sm-1">
                                {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                            </div>
                            
                            {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
                        </div>
                    {{ form_end(form, {'render_rest': false}) }}
				</div>
			</div>
        </div>
    </div>   
{% endblock content %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'jquery-duplicate-fields', null, 'new-template' ) }}
    {{ encore_entry_script_tags( 'fieldsets-edit', null, 'new-template' ) }}
{% endblock %}
