{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_cms.template.pages_update_title' | trans( {},'VSCmsBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_cms.template.pages_create_title' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle}}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}

{% block content %}
    <div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div>
                        <h2 class="pageheader-title" style="float: left;">{% if(item.id) %}Edit:	{{ item.title }}{% else %}Create New Static Page{% endif %}</h2>
                        <div style="float: right; margin-right: 30px;">
                            {% if(item.id) %}
                                <a id="pageClone" class="btn btn-info btn-circle btn-sm pageClone"  
                                	data-pageId="{{ item.id }}" 
                                	data-url={{ path( 'vs_cms_pages_clone', {'pageId': item.id} ) }}
                                	href="javascript:void(0);" 
                                	title="{{ 'vs_cms.template.button_clone' | trans( {},'VSCmsBundle' ) }}"
                                >
                                    {{ 'vs_cms.template.button_clone' | trans( {},'VSCmsBundle' ) }}
                                </a>
                                <a id="pagePreview" class="btn btn-info btn-circle btn-sm pagePreview" 
                                	data-url="{{ path( 'vs_cms_pages_preview', {'pageId': item.id, 'locale': app.request.locale} ) }}" 
                                	href="javascript:void(0);" 
                                	title="{{ 'vs_cms.template.button_preview' | trans( {},'VSCmsBundle' ) }}"
                                >
                                    {{ 'vs_cms.template.button_preview' | trans( {},'VSCmsBundle' ) }}
                                </a>
                            {% endif %}
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render( 'breadcrumbs', {'template': '@VSApplication/Menu/breadcrumb.html.twig'} ) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        
    	<div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            
            
        </div>
    </div>   
{% endblock content %}
