{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
    <div class="form-group">
        {{ form_label(form.currentLocale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.currentLocale, {'attr': {'class': 'form-control'}}) }}
    </div>

    {% set comboDataSourceUrl  = url( 'vs_application_taxonomy_taxons_easyui_combotree', {'taxonomyId': taxonomyId} ) %}
    {% set comboTreePlaceholder = 'vs_cms.form.category.parent_category_placeholder' | trans( {},'VSCmsBundle' ) %}
    <div class="form-group">
        {{ form_label(form.parent, null, {
            'label_attr': {'class': 'col-form-label'}
            })
        }}
        {{ vs_tree.easyuiCombobox( form.parent, comboDataSourceUrl, item.id ? item.taxon.parent.id : 0,
            {
                'elementSelector': '#user_role_form_parent',
                'required': 'true',
                'multiple': 'false',
                'checkbox': 'false',
                'placeholder': comboTreePlaceholder
            }
        ) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.name, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ vs_form.buttons( form ) }}
{{ form_end(form, {'render_rest': false}) }}
