{% import "@VSApplication/Macros/translations.html.twig" as vs_translations %}

<tr data-node-id="{{ item.id }}" {% if parentId %}data-node-pid="{{ item.parent.id }}"{% endif %}>
    <td>{{ item.name }}</td>
    <td>{{ vs_translations.flags( translations[item.id] ) }}</td>
    <td>
    	<a class="btn btn-primary btnTocPage"
           href="{{ path('vs_cms_page_categories_update', {'id': item.id}) }}"
           title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"
        >
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-danger btnTocPageDelete btnDeleteResource"
            href="{{ path('vs_cms_page_categories_delete', {'id': item.id}) }}"
            data-csrfToken="{{ csrf_token( item.id ) }}" 
            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
        >
            <i class="icon_close_alt2"></i>
        </a>
    </td>
</tr>

{% for child in item.children %}
	{% include '@VSCms/Pages/Page_Categories/partial/simpleTreeTableRows.html.twig' with {'parentId': item.id, 'item': child} %}   
{% endfor %}
